body{
  background:white;
}
section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}


.list-group li {
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
}

.head h1 {
  padding: 5px 20px;
  margin: 15px;
  margin-bottom:1px;
  color: black;
  font-weight: 1000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.head{
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
ul{
  padding-left:10px;
  margin-right:5px;
}
ul li {
  padding: 10px;
  margin-left:15px;
  display: grid;
  grid-template-columns: 8fr 1fr;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Shadows Into Light', cursive;
}

ul li:hover {
  border-radius: 15px;
  
  color:red;
  
}

ul li i {
  font-size: 20px;
  font-weight: bold;

}
.head hr {
  width: 20%;
  margin-left:32px;
  border: 1px solid white;
}